.idea
/compiled/
/vendor/
/cache/
/js/
/css/
/config/config.local.php
/node_modules/
/backend/design/compiled/
/backend/files/export/export.csv
/backend/files/import/import.csv
/Okay/log/
/Okay/xml/compiled/
